<div class="filters">
  <div class="show">
    <span class="label">Show</span>:
    <%= link_to_if params[:state] != "opened" && params[:state].present?, "Opened", root_url('state' => 'opened') %>
    <%= link_to_if params[:state] != "closed" || params[:state].blank?, "Closed", root_url('state' => 'closed') %>
    <%= link_to_if params[:state] != "ignored" || params[:state].blank?, "Ignored", root_url('state' => 'ignored') %>
  </div>
  <div class="order">
    <span class="label">Order by</span>:
    <%= link_to_if params[:order] != "last_happened_at" && params[:order].present?, 
      "Last Happened At", append_query_params('order' => 'last_happened_at') %>
    <%= link_to_if params[:order] != "occurrences", 
      "Occurrences", append_query_params('order' => 'occurrences') %>
  </div>
</div>
<table>
  <tr>
    <th>
      Kind
    </th>
    <th>
      Last Exception Message
    </th>
    <th title="Where in your code was this exception raised (file#method)">
      Raised In
    </th>
    <th>
      Last Happened At
    </th>
    <th>
      First Happened At
    </th>
    <th>
      Ocurrences
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% if @wexceptions.empty? %>
    <tr class="empty-message">
      <td colspan="7">
        <%= empty_message %>
      </td>
    </tr>
  <% else %>
    <% for wexception in @wexceptions %>
      <tr id="wexception_<%= wexception.id %>">
        <td class="kind">
          <%= wexception.kind %>
        </td>
        <td class="message">
          <%= wexception.last_message %>
        </td>
        <td class="raised_in" title="<%= CGI.escapeHTML wexception.raised_in.to_s %>">
          <%= display_raised_in(wexception.raised_in) %>
        </td>
        <td class="last_happened_at">
          <%= time_ago_in_words wexception.last_happened_at %> ago
        </td>
        <td class="first_happened_at">
          <%= time_ago_in_words wexception.first_happened_at %> ago
        </td>
        <td class="occurrences">
          <%= link_to wexception.occurrences_count, wexception_wexception_occurrences_path(wexception), title: "Click to see all occurrences of this exception" %>
        </td>
        <td class="actions">
          <%= state_change_links(wexception) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= will_paginate @wexceptions %>

<%= javascript_tag do %>
  $(function() {
    weirdy.wexceptionsIndex.initialize();
  });
<% end %>
