<table>
  <tr>
    <th>
      Kind
    </th>
    <th>
      Message
    </th>
    <th>
      Ocurrences
    </th>
    <th>
      First Happened At
    </th>
    <th>
      Last Happened At
    </th>
    <th>
      Actions
    </th>
    <th>
    </th>
  </tr>
  <% for wexception in @wexceptions %>
    <tr id="wexception_<%= wexception.id %>">
      <td>
        <%= wexception.kind %>
      </td>
      <td>
        <%= wexception.message %>
      </td>
      <td>
        <%= wexception.occurrences_count %>
      </td>
      <td>
        <%= time_ago_in_words wexception.first_happened_at %> ago
      </td>
      <td>
        <%= time_ago_in_words wexception.last_happened_at %> ago
      </td>
      <td>
        <%= state_change_links(wexception) %>
      </td>
      <td>
        <%= link_to "Occurrences", "#", class: "occurrences" %>
      </td>
    </tr>
    <tr class="occurrences">
      <td>
        <%= render 'occurrences', :occurrences => wexception.occurrences %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @wexceptions %>

<%= javascript_tag do %>
  $(function() {
    weirdy.wexceptionsIndex.initialize();
  });
<% end %>
