<div class="filters">
  <div class="show">
    <span class="label">Show</span>:
    <%= link_to_if params[:state] != "opened" && params[:state].present?, "Opened", root_url('state' => 'opened') %>
    <%= link_to_if params[:state] != "closed" || params[:state].blank?, "Closed", root_url('state' => 'closed') %>
    <%= link_to_if params[:state] != "ignored" || params[:state].blank?, "Ignored", root_url('state' => 'ignored') %>
  </div>
  <div class="order">
    <span class="label">Order by</span>:
    <%= link_to_if params[:order] != "last_happened_at" && params[:order].present?, 
      "Last Happened At", append_query_params('order' => 'last_happened_at') %>
    <%= link_to_if params[:order] != "occurrences", 
      "Occurrences", append_query_params('order' => 'occurrences') %>
  </div>
</div>
<table>
  <% if @wexceptions.empty? %>
    <tr class="empty-message">
      <td>
        <%= empty_message %>
      </td>
    </tr>
  <% else %>
    <% for wexception in @wexceptions %>
      <tr id="wexception_<%= wexception.id %>">
        <td class="info1">
          <p class="kind">
            <%= wexception.kind %>
          </p>
          <p class="raised_in" title="Raised In">
            <%= wexception.raised_in %>
          </p>
          <p class="message" title="Message">
            <%= wexception.last_message.truncate(Weirdy::Config.exception_message_max_chars) %>
          </p>
        </td>
        <td class="info2">
          <div class="last_happened_at" title="Last Happened At">
            Last: <%= time_ago_in_words wexception.last_happened_at %> ago
          </div>
          <div class="first_happened_at" title="First Happened At">
            First: <%= time_ago_in_words wexception.first_happened_at %> ago
          </div>
          
          <div class="actions">
            <%= state_change_links(wexception) %>
          </div>

          <div class="occurrences">
            # <%= link_to wexception.occurrences_count, wexception_wexception_occurrences_path(wexception), title: "Click to see all occurrences of this exception" %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= will_paginate @wexceptions %>

<%= javascript_tag do %>
  $(function() {
    weirdy.wexceptionsIndex.initialize();
  });
<% end %>
